@import "../../defined-styles/definedStyles.scss";

.contentBox {
    width: 96px;
    height: 90vh;
    background-color: $semiDarkBlue;
    border-radius: 20px;
    position: fixed;
    top: 40px;
    left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    #logoContent {
        width: 32px;
        height: 25px;
        margin-top: 35px;
    }

    .categories {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 200px;
        margin-top: 75px;

        img {
            width: 20px;
        }

        img:hover {
            filter: grayscale(100%) brightness(100%) sepia(100%) hue-rotate(-55deg) saturate(600%) contrast(0.8);
        }
    }

    #avatar {
        width: 40px;
        position: absolute;
        bottom: 35px;
    }

    .active {
        filter:  brightness(0) invert(1);
    }
}