@import "../../defined-styles/definedStyles.scss";

.mainApp {
    width: 100%;
    background-color: $darkBlue;
    height: 100vh;

    .searchBox {
        display: flex;
        align-items: center;
        position: absolute;
        top: 40px;
        left: 172px;

        img {
            width: 32px;
        }

        input {
            border: none;
            background: none;
            color: $pureWhite;
            margin-left: 24px;
            @include headingM;
        }

        input:focus {
            outline: none;
        }
    }
}