@import "../../defined-styles/definedStyles.scss";

.mainApp {
    max-width: 100%;
    background-color: $darkBlue;
    padding-left: 172px;

    .searchBox {
        display: flex;
        align-items: center;
        padding-top: 40px;
        img {
            width: 32px;
        }

        input {
            border: none;
            background: none;
            color: $pureWhite;
            margin-left: 24px;
            caret-color: #FC4747;
            @include headingM;
        }

        input:focus {
            outline: none;
        }
    }

    h2 {
        color: $pureWhite;
        @include headingL;
        margin-top: 34px;
    }
}


/* Medium screen devices (768px and above) */
@media only screen and (max-width: 768px) {
    .mainApp {
        min-width: 90%;
        padding-left: 0px;
        display: flex;
        flex-direction: column;

        .searchBox {
            width: 90%;
            margin-right: auto;
            margin-left: auto;
        }
    }       
    
    h2 {
        margin-left: 32px;
    }
}

@media only screen and (max-width: 468px){
    .mainApp .searchBox input {
        font-size: 16px;
    }
}