@import "../../defined-styles/definedStyles.scss";

.mainApp {
    width: 100%;
    background-color: $darkBlue;
    padding-left: 172px;

    .searchBox {
        display: flex;
        align-items: center;
        padding-top: 40px;
        img {
            width: 32px;
        }

        input {
            border: none;
            background: none;
            color: $pureWhite;
            margin-left: 24px;
            @include headingM;
        }

        input:focus {
            outline: none;
        }
    }
}